html, body {
	font-size: 17px;
}

body {
	font-family: "proxima-nova",Helvetica, Arial, sans-serif;
	background-color: #f5f4f4;
}


/* NAVBAR */

.navbar {
	/* background-color: #3a9645; */
	background-color: #21a2f2;
	color: #ffffff;
	padding: 1rem 0 0.6rem ;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #ffffff;
}

.navbar .navbar-brand {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	opacity: 0.6;
	font-size: 0.9rem;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
	color: #ffffff;
	opacity: 1;
}

.navbar-default .navbar-toggle {
	border: 2px solid #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}


/* STRUCTURE */

section {
	margin: 4rem 0;
}
section#overview {
	margin: 2rem 0;
}

#disclaimer {
	margin: 0 0 -5rem 0;
}

.card {
	background-color: #ffffff;
	box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.1);
	padding: 3rem;
}

.row + .row {
	margin-top: 4rem;
}

.full-title > h3 {
	margin-top: 0;
}

#overview-time-period-choice {
	margin-right: 1rem;
}

/* TYPOGRAPHY */

h1 {
	color: #4298d4;
	font-weight: 600;
	font-size: 1.75rem;
	margin: 1.5rem 1rem;
}

h3 {
	margin: 1.5rem 0;
	font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
    text-transform: initial;
}

p {
	font-size: 1rem;
	color: #828282;
	font-weight: 300;
	line-height: 1.6rem;
}

.button-div {
	font-size: 0.9rem;
	color: #828282;
	margin-top: 2rem;
}

.button-wrapper-plan {
	margin-bottom: 1.5rem;
}

.button-div + .button-div {
	margin-top: 1.5rem;
}

.btn-group {
	display: inline-block;
	vertical-align: middle;
}

.btn-label {
	display: inline-block;
	padding: 6px 1rem 6px 0;
	vertical-align: top;
}

button:focus {
	outline: none !important;
}

.btn-blue {
	background-color: #4298d4;
	color: #ffffff;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-weight: 600;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
	background-color: #0474a0;
	color: #ffffff;
}

.btn-overview {
	margin-bottom: 0.5rem;
}

.deep-dive {
	margin-top: 2rem;
}

#cbi-all-prod-img {
	margin-right: 0.5rem;
}

#pipeline-all-prod-img {
	margin-left: 0.5rem;
}

/* RESPONSIVE */

@media screen and (max-width: 990px) {
	.card {
		padding: 1.5rem 1rem;
	}

	.row + .row {
		margin-top: 0rem;
	}

	.mode-chart {
		margin-bottom: 2rem;
	}

	.full-title > h3 {
		margin-top: 1.5rem;
	}

	.button-wrapper {
		margin-bottom: 2rem;
	}

	.button-wrapper-plan {
		margin-bottom: 2rem;
	}
}